.home {
  color: $home-color;
}

.about {
  color: $about-color;
}

.analysis {
  color: $analysis-color;
}

.docs {
  color: $docs-color;
}

.report {
  color: $report-color;
}

.technologies {
  color: $technology-color;
}
