.technology h1 {
  margin-bottom: 1em;
}

.technology p {
  margin-bottom: 0.8em;
}

.tech-container {
  margin-bottom: 2em;
}

@media (max-width: 767px) {
  .single-tech-wrapper {
    display: none;
  }
}
