$font-color: #444;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #dfe6e9;
$background-alternative-color: #e0fbfc;
$background-color-code: #f5f5f5;
$background-color-header: #fff;
$background-color-footer: #fff;
$link-color: #0a0a0a;
$about-color: #f8144d;
$home-color: #db2c00;
$analysis-color: #255bab;
$docs-color: #508078;
// $gallery-color: #813570;
$report-color: #d8268e;
$technology-color: #a30260;
