{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">             
        
        <h1 class="home">Home</h1>

        <div class="landing-page-content">
            {{ content }}
        </div>    
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
