.analysis-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}

.analysis h1 {
  text-align: center;
}

.analysis h2 {
  margin-top: 2em;
}

.analysis h3 {
  margin-top: 2em;
}

.analysis p {
  margin-bottom: 0.2em;
}
