$font-color: #f1f1f1;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #2e333a;
$background-alternative-color: #e0fbfc;
$background-color-code: #413f3f;
$background-color-header: #424141;
$background-color-footer: #424141;
$link-color: #f2f5f5;
