.footer {
    display: flex;
    justify-content: space-between;
    border-top: 4px solid #f0f;
    background-color: #222;
    color: #fff;
    padding: 3rem 6rem;  

    a {
        color: #fff;
        text-decoration: none;
        padding-right: 10px;
    }

    .social {
        font-size: 2rem;
    }

    @media (max-width: 767px) {
        flex-direction: column;

        a {
            display: inline-block;
            margin-top: 25px;
        }
    }
}



